.Intro {
  display: flex;
  background-color: white;
  color: rgb(28, 28, 28);
  height: 90vh;
}

.Intro-text {
  display: flex;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 40px;
  width: 80vh;
  animation: textfade 3s;
}

@keyframes textfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
